* {
  font-family: "inter";
  list-style: none;
}

div,
h1,
h2,
h3 {
  text-align: center;
  margin: 10px;
}

.choose {
  text-align: center;
  padding: 12px 0px;
}

h1 {
  padding-top: 100px;
  padding-bottom: 20px;
}

.CName {
  padding-top: 30px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  color: #504f4f;
  font-size: 30px;
  border-bottom: solid 1.5px #504f4f;
}

p {
  text-align: center;
  font-size: 20px;
  color: #504f4f;
}

.safety {
  border: none;
  border-radius: 15px;
  padding: 10px 150px;
  font-size: 30px;
  text-shadow: 2px 2px #3c3c3c;
  top: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #ddeb71;
}
.safety:hover {
  background-color: #d7e56e;
}
.Notsafety {
  border: none;
  border-radius: 15px;
  padding: 10px 150px;
  font-size: 30px;
  text-shadow: 2px 2px #3c3c3c;
  top: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #f46780;
}
.Notsafety:hover {
  background: #d65b72;
}
.add,
.del {
  border: none;
  border-radius: 15px;
  padding: 10px 150px;
  font-size: 30px;
  text-shadow: 2px 2px #515151;
  top: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #585858;
}

.Cen {
  margin-top: 50px;
}

.inputform,
.Cen {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}

td {
  margin: 5px 0;
}

.inputText {
  padding: 12px 18px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  resize: vertical;
}

.LoginSub {
  text-align: center;
  background-color: #f46780;
  font-size: 16px;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.LoginSub:hover,
.LoginSub:active {
  background: #d65b72;
}

.Logoutbtn,
.managebtn {
  border: none;
  border-radius: 15px;
  padding: 10px 150px;
  font-size: 30px;
  top: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #585858;
}

.Logoutbtn:hover,
.managebtn:hover,
.Logoutbtn:active,
.managebtn:active,
.add,
.del {
  background-color: #3c3c3c;
}

.allsitbtn {
  border: none;
  border-radius: 15px;
  padding: 10px 150px;
  font-size: 30px;
  top: 20px;
  cursor: pointer;
  color: #585858;
  background-color: #efe974;
}
.allsitbtn:hover,
.allsitbtn:active {
  background-color: #f0ea74;
}

.footer {
  margin-top: 80px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.footer img {
  padding: 0 100px;
}

.SafeMessage {
  padding-top: 30px;
  padding-bottom: 130px;
}

.Stitle {
  padding-top: 30px;
  padding-bottom: 50px;
}

.StaffList table,
.StaffList tr,
.StaffList td {
  border: 1px solid black;
  padding: 10px 80px;
  font-size: 25px;
}
.StaffList {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px) {
  /* For mobile phones: */
  .choose,
  input {
    width: 100%;
  }
  .footer h3 {
    font-size: 16px;
    width: 150px;
  }
  .footer {
    margin-top: 50px;
  }
  .SafeMessage {
    padding-bottom: 90px;
  }
}
