.companyName{
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
}

.inputform{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
}

.inputText {
  padding: 12px 18px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  resize: vertical;
}

.LoginSub {
  text-align: center;
  background-color: #f46780;
  font-size: 16px;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.LoginSub:hover,
.LoginSub:active {
  background: #d65b72;
}
