.container {
  text-align: center;
  font-family: "Inter";
}
.title {
  border-bottom: solid 1.5px;
  color: #504f4f;
  font-size: 34px;
}
.text {
  font-size: 26px;
  padding: 30px 0 70px 0;
}
.safe {
  border: none;
  font-size: 39px;
  width: 250px;
  height: 90px;
  margin: 2%;

  color: rgb(255, 255, 255);
  background: #fde3a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.dangerous {
  color: rgb(255, 255, 255);
  font-size: 39px;
  border: none;
  width: 250px;
  height: 90px;
  margin: 2%;

  background: #f46780;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.img {
  margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.hr {
  border: none;
  width: 100%;
  height: 180px;
  left: 0px;
  top: 734px;
  background: #86c7f5;
}
